/***********Responsive *********/

/***************header: 576px;*************/

@media all and (max-width: 576px) {
  header {
    background-color: white;
    display: inline-block;
  }

  #navigation menu {
    display: block;
  }

  .logo {
    display: inline-block;
    margin: 0px;
    position: absolute;
    object-fit: contain;
  }

  #login a {
    margin-inline-start: 408px;
  }
  .menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .heb #hebergements {
    border-top: none;
    border-bottom: solid 2px #0065fc;
  }
  .act {
    border-bottom: solid 2px lightslategray;
  }
}
/*fermeture de header*/

/***************hebergements: 1108px;*************/

@media all and (max-width: 1108px) {
  #section_hebergements {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
  .description_populaires {
    margin-bottom: 8px;
  }

  #article_hebergements {
    background-color: white;
    margin-top: -15px;
  }
  #article_hebergements .hotel {
    background-color: white;
    border: solid 6px white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 4px;
  }

  #hotels_a,
  #hotels_b {
    gap: 12px;
  }
  #hotels_b {
    margin-top: 12px;
  }

  .img {
    height: 100px;
    width: 284px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
  }
  .afficher {
    margin-top: 40px;
  }
  .hotel {
    width: 284px;
    height: 158px;
  }
  /*fermeture de hebergements*/

  /*ACTIVITES*/
  .totalite_figures {
    margin-left: 10px;
    margin-right: 10px;
  }
  .figure {
    height: auto;
    width: auto;
    gap: 30px;
  }
  .figure img {
    height: 100px;
    width: 277px;
    margin: 0px;
    border-radius: 10px;
  }
  .figure_double {
    height: auto;
    width: auto;
    gap: 40px;
  }
}

/***************footer: 1108px;*************/

@media all and (max-width: 1108px) {
  /*footer*/
  footer {
    padding-right: 16px;
  }
}

@media all and (max-width: 780px) {
  footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34 px;
  }

  footer h2 {
    width: 250px;
  }

  footer a {
    width: 250px;
  }
}
/*fermeture de footer*/
