/***********Responsive *********/

/***************header: 576px;*************/

@media screen and (max-width: 576px) {
  header {
    background-color: white;
    display: inline-block;
  }

  #navigation menu {
    display: block;
  }

  .logo {
    display: inline-block;
    margin: 0px;
    position: absolute;
    object-fit: contain;
  }

  #login a {
    margin-inline-start: 408px;
  }
  .menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .heb #hebergements {
    border-top: none;
    border-bottom: solid 2px #0065fc;
  }
  .act {
    border-bottom: solid 2px lightslategray;
  }
}
/*fermeture de header*/

/***************hebergements: 1108px;*************/

@media screen and (max-width: 1108px) {
  #aside_populaires {
    width: 696px;
    max-width: 100%;
  }
}
/*fermeture de hebergements*/
