/* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}*/

body {
  font-family: "Raleway", sans-serif;
  color: black;
}
/*Header*/
.logo {
  width: 120px;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-end;
  list-style: none;
}

.menu a {
  text-decoration: none;
  padding: 16px;
}

#login {
  text-decoration: none;
  color: #0065fc;
  font-weight: 700;
}

#activites {
  text-decoration: none;
  color: black;
}

#hebergements {
  color: #0065fc;
  border-top: solid 2px;
}

/* Section A: Recherche*/

#menu_recherche {
  margin-top: 38px;
}

#menu_recherche h2 {
  margin-bottom: 0;
}

/* Style the input container */
.input_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

/* Style icons */

#place_icon {
  background-color: #deebff;
  box-sizing: border-box;
  display: inline-block;
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: #deebff solid;
}
/* Set a style for the submit button Rechercher */
#recherche {
  margin-top: 1px;
}

.btn_search {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px;
  text-decoration: none;
  margin-left: -3px;
}

/* nav filtres-bar:economique, familial,romantique, animaux*/

#filtres_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.filtre i {
  color: #0065fc;
  border-radius: 50%;
  margin-right: 14px;
}
.filtre span {
  margin-right: 14px;
}

.filtre i,
#place_icon {
  background-color: #deebff;
  border: 1px solid #deebff;
  padding: 10px;
}

.filtre {
  display: inline-block;
  border: solid 2px #d9d9d9;
  border-radius: 22px;
}

/*#disponibilité {}*/

#info {
  color: #0065fc;
  background-color: white;
  border-radius: 22px;
}

/*div conteneur de #section_hebergements et #aside_populaires*/

.hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*section id="section_hebergements"*/
.img {
  height: 90px;
  width: 200px;
}

#hotels_a,
#hotels_b {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

#section_hebergements,
#aside_populaires {
  background-color: #f2f2f2;
  margin-bottom: 15px;
}

/*.description h3*/
.nom {
  font-size: 16px;
  font-weight: 700;
}

.afficher {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  margin-top: 104px;
}

.prix {
  font-size: 12px;
  font-weight: 500;
}

.etoiles i {
  color: #0065fc;
}

.etoiles4 i:last-child {
  color: grey;
}

.etoiles3 i:nth-child(4),
.etoiles3 i:nth-child(5) {
  color: grey;
}
/*Section Activites*/
#section_activites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image_unique {
  width: 150px;
  height: 200px;
}
.img_reduit {
  height: 90px;
  width: 200px;
}

.img_simple,
.double_image {
  height: 300px;
  width: 200px;
}

.img_simple h3 {
  margin-top: 43px;
}
/*Footer*/

footer a {
  display: block;
  text-decoration: none;
}
footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 251px 48px 28px;
  margin-top: 130px;
}
