body {
  font-family: "Raleway", sans-serif;
  color: black;
}
h2 {
  font-size: 18px;
  font-weight: 700;
}

.nom {
  font-size: 16px;
  font-weight: 700;
}

/*Header*/

.logo {
  display: inline-block;
  width: 72px;
  object-fit: contain;
  text-align: center;
  position: absolute;
  margin-top: 8px;
}

header nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.inscrire {
  padding-left: 32px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-end;
  list-style: none;
}

.menu a {
  text-decoration: none;
  padding: 16px;
}

#login {
  text-decoration: none;
  color: #0065fc;
  font-weight: 700;
}

#activites {
  text-decoration: none;
  color: black;
}

#hebergements {
  color: #0065fc;
  border-top: solid 2px;
}

/* Section A: Recherche*/

#menu_recherche {
  margin-top: 38px;
}

.titre_recherche {
  margin-bottom: 0;
}

/* Style the input container */
.input_container {
  display: flex;
  flex-direction: row;
  margin: 24px 0;
}

/* Style icons */

#place_icon {
  background-color: #deebff;
  box-sizing: border-box;
  display: inline-block;
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: #deebff solid;
}
/* Rechercher */

#recherche {
  margin-top: 1px;
  font-weight: 700;
}

.btn_search {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px;
  text-decoration: none;
  margin-left: -3px;
}

/* nav filtres-bar:economique, familial,romantique, animaux*/

#filtres_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.filtre {
  display: inline-block;
  border: solid 2px #d9d9d9;
  border-radius: 22px;
  padding-right: 14px;
  font-weight: 700;
}

.filtre i {
  color: #0065fc;
  border-radius: 50%;
  margin-right: 14px;
}

.filtre i,
#place_icon {
  background-color: #deebff;
  border: 1px solid #deebff;
  padding: 10px;
}

/*disponibilité */

#disponibilite {
  display: inline-block;
  margin-top: 24px;
}
#info {
  color: #0065fc;
  background-color: white;
  border-radius: 50%;
  border: solid lightgray 1px;
  padding: 2px 7px;
}

/* conteneur de #section_hebergements et #aside_populaires*/

#section_hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-bottom: 15px;
}

/*Article id="article_hebergements"*/
#article_hebergements {
  padding: 32px;
}
.img {
  height: 90px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.content {
  background-color: white;
  border: solid 6px white;
  border-radius: 10px;
}

#hotels_a,
#hotels_b {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

#hotels_b {
  margin-top: 36px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.description * {
  margin: 0;
}

/*Aside les plus populaires*/
.pop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#aside_populaires {
  padding: 48px;
}

.img_populaires {
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.description_populaires {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: solid 6px white;
  border-radius: 10px;
  margin-bottom: 36px;
  width: 272px;
  height: 120px;
}

.content_populaires {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.content_populaires * {
  margin: 0;
}

.content_populaires .nom {
  display: inline-block;
  justify-content: start;
  margin-top: 0;
  flex-wrap: wrap;
}

#article_hebergements,
#aside_populaires {
  background-color: #f2f2f2;
  margin-top: 50px;
}
#aside_populaires {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
}

.afficher {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  margin-top: 104px;
}

.prix {
  font-size: 12px;
  font-weight: 500;
}

.etoiles i {
  color: #0065fc;
}

.etoiles4 i:last-child {
  color: grey;
}

.etoiles3 i:nth-child(4),
.etoiles3 i:nth-child(5) {
  color: grey;
}

#aside_populaires .etoiles {
  margin-top: auto;
}
/*Section Activites*/
.titre_activites {
  margin-top: 0px;
}
#section_activites div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 26px;
  margin-left: 46px;
}
/*Images du section_activites*/
.image_unique {
  width: 275px;
  height: 261px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.img_reduit {
  height: 100px;
  width: 277px;
}

.figure_haut,
.figure_bas {
  margin: 0px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
}

/*figure unique*/
.figure {
  height: 300px;
  width: 275px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.figure_double {
  border: 0px;
  box-shadow: 0 0 0 0;
  gap: 44px;
}

.titre_images {
  font-size: 16px;
  font-weight: 700;
}

/*Footer*/

footer a {
  display: block;
  text-decoration: none;
  color: black;
}
footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 251px 48px 28px;
  margin-top: 130px;
}
