/* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}*/
body {
  font-family: "Raleway", sans-serif;
  color: black;
}

.logo {
  width: 120px;
  margin-left: 0px;
  margin-bottom: -51px;
}
header {
  background-color: white;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-end;
  list-style: none;
}

#login {
  text-decoration: none;
  color: #0065fc;
  font-weight: 700;
}

#activites {
  text-decoration: none;
  color: black;
}

#hebergements a {
  color: #0065fc;
  text-decoration: overline;
}
